  <h1>Listing recipes</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe_path(recipe)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @recipes %>
  <br>

  <%= link_to 'New Recipe', new_recipe_path %> |
  <%= link_to 'Back', food_items_path %>
