<div id="js-parallax-window" class="parallax-window-2">
  <div class="parallax-static-content">
    <%= search_form_for @q do |f| %>
    <div class="filter-name">
      <!-- <h1>Listing recipes</h1> -->
      <%= f.text_field :name_cont, placeholder: "Search for Recipes " %>
    </div>
    <p class="submit-button">
      <%= f.submit %>
    </p>
    <% end %>
  </div>
  <div id="js-parallax-background" class="parallax-background-2"></div>
</div> 