<table class="table">
  <thead>
    <tr class="center">
      <th colspan="2" class="th">Favourite Recipes</th>
    </tr>
  </thead>

  <tbody>
    <% @favourites.each do |favourite| %>
      <tr>
        <td><%= link_to favourite.try(:recipe).try(:name), favourite %></td>
        <td class="remove"><%= link_to 'Remove', favourite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back', food_items_path, class: "back" %>
