<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= link_to @favourite.recipe.name %>
  <!-- recipe_path(@recipe) -->
</p>

<p>
  <strong>User:</strong>
  <%= @favourite.user.first_name %>
</p>

<%= link_to 'Back', favourites_path %>
