  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Welcome To What's In Your Fridge!</h1>
        <p>An easy way to find recipes based on food in your fridge </p>  
      </div>
      <button>Learn More</button>
    </div>
  </div>

  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
      <b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. !</b>
    </div>
    <div id="js-parallax-background" class="parallax-background"></div>
  </div>

  <div class="hero-2">
    <div class="hero-inner-2">
      <div class="hero-copy-2">
        <h1>About us!</h1>
        <p>We are a very new company in our development stage so be nice to us! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quasi pariatur et iure architecto reiciendis, laboriosam illum harum ipsam voluptatem quod natus tempore vitae, deleniti id ab enim quos hic.</p>  

        <div>
          <div class="animate-target"></div>
          <button class="animate-trigger"><%= button_to "Sign Up!", new_user_registration_path, method: :get %></button>
        </div>
      </div>
    </div>
  </div>
