<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project 3</title>
</head>
<body>
  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Welcome To What's In Your Fridge!</h1>
        <p>A few reasons why this product is worth using, who it's for and why they need it.</p>  
      </div>
      <button>Learn More</button>
    </div>
  </div>

  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
      <b>The maker</b>
    </div>
    <div id="js-parallax-background" class="parallax-background"></div>
  </div>

  <div class="hero-2">
    <div class="hero-inner-2">
      <div class="hero-copy-2">
        <h1>About us!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci incidunt a laudantium voluptatibus autem ducimus excepturi accusantium maiores nemo eius aut repellendus, temporibus magnam ratione nulla deleniti dolorum, tempora eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi facere perferendis quod ab aliquid beatae. Esse nemo non illo adipisci recusandae, dolorem minima repudiandae, minus saepe sapiente sed veritatis!</p>  

        <%= button_to "Sign Up!", new_user_registration_path, method: :get %> 
      </div>
    </div>
  </div>
</body>
</html>

