  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Welcome To What's In Your Fridge!</h1>
        <p>An easy way to find recipes based on food in your fridge </p>  
      </div>
      <div class="scroll-on-page">
      <a class="scroll-on-page-link" href="#scroll-link-1">Learn More</a>
    </div>
    </div>
  </div>

  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
      <b> Your new WIYF App.  Animi minima, atque provident aspernatur autem, minus ad.</b>
    </div>
    <div id="js-parallax-background" class="parallax-background"></div>
  </div>

  <div class="hero-2">
    <div class="hero-inner-2">
      <div class="hero-copy-2">
        <h4 id="scroll-link-1">About us</h4>
        <p>This web application helps you can keep track of what’s in your fridge and use suggested recipes to cook a meal before your food goes off. This app saves you money, reduces waste, and helps keep track of your calorie intake.</p>  

        <div>
          <div class="animate-target"></div>
          <button class="animate-trigger"><%= button_to "Sign Up!", new_user_registration_path, method: :get %></button>
        </div>
      </div>
    </div>
  </div>
