<h1>Home = Listing food items in your fridge</h1>
  <tbody>
    <% @food_items.each do |food_item| %>
      <tr>
        <h2><%= link_to food_item.name, food_item_path(food_item) %>
      </tr>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Food item', new_food_item_path %> |
<%= link_to 'Back', food_items_path %>