// Place all the styles related to the Favourites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body {
//   text-align: center;
// }
table{
  width: 50%;
  margin: 0 auto;
}
th {
  text-align: center;
}
.remove {
  text-align: right;
}

.back {
  display:block;
  text-align:center;
  margin-top: 50px;

}

