// Place all the styles related to the FoodItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// for index page
.fridge {
  background-image: url("http://thumbs.dreamstime.com/z/empty-fridge-inside-white-31661623.jpg");
  background-image:no-repeat;
  background-size:50%;
  position: relative;

}
.url-image{
  display: inline;
  // opacity: 0.8;
}


img,
picture {
  margin: 0;
  max-width: 30%;
  padding-right: 15px;
  display: inline;
}


