// Place all the styles related to the FoodItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// for index page
.fridge {
  background-image: url("http://thumbs.dreamstime.com/z/empty-fridge-inside-white-31661623.jpg");
  background-repeat: no-repeat;
  // background-size:50%;
  position: relative;
  min-height: 1200px;
  max-width: 50%;
  float: left;

}
.url-image{
  width: 200px;
  height: 100px;
  opacity: 0.5;
  border-radius:30px;
}

.recipe-index {
 float: right;
 width: 50%;
}

///////////////
$parallax-window-height: 18em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window-2 {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-background-2 {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png") repeat;
  background-position: top;
  background-size: cover;
  background-color: gray;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

.h1-parallax {
  font-size: 30px;
  color: white;
}



//////////////





.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


