// Place all the styles related to the FoodItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// for index page
.fridge {
  background-image: url("http://thumbs.dreamstime.com/z/empty-fridge-inside-white-31661623.jpg");
  background-repeat: no-repeat;
  margin: 0 auto; 
  // background-size:50%;
  position: relative;
  min-height: 1200px;
  max-width: 70%;
  // float: left;
  margin: 0 auto;
  margin-top: 10px;
}
.add-food-item a {
  margin: 0 auto;
  color: white;
  text-decoration: none;
}

.recipe-search {
  color: white;
}


.url-image{
  width: 200px;
  height: 150px;
  opacity: 0.5;
  border-radius:30px;
}

.recipe-index {
 float: right;
 width: 50%;
}

///////////////
$parallax-window-height: 18em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window-2 {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-background-2 {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png") repeat;
  background-position: top;
  background-size: cover;
  background-color: gray;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

.h1-parallax {
  font-size: 30px;
  color: white;
}

//////////////
$parallax-window-height: 18em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window-3 {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-background-3 {
  background: url("http://lorempixel.com/gray/400/200/food/") repeat;
  background-position: top;
  background-size: cover;
  background-color: gray;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}
.h1-parallax-2 {
  font-size: 30px;
  color: white;
}
//////////////
.hover-tile-outer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  
  h4 {
    margin: 0;
  }

  p {
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $hover-tile-height: 200px;

  background: url("#");
  background-position: top;
  background-size: cover;
  border: 1px solid $base-border-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  
  @include media($medium-screen) {
    width: 23%;
    display: inline-block;
    text-align: center;
    margin-right: 33px;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
    width: 200px;

  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.5);

    p {
      color: transparentize(#fff, 0.3);
    }

    h4 {
      margin-bottom: 0.5em;
    }
  }
}


.centering {
  display: table-caption;
}
h4 {
  font-weight: bold;
}

//////////////

// .centered-fridge-section{
//   text-align: center;
// }
//////////////
.filter-name {
   width: 50%;
   width: 54%;
   margin: 0 auto;
   padding-top: 22px;
}

.submit-button {
  text-align: center;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


